@{
    QuanLiThucVat.Models.NguoiDungViewModel account = (QuanLiThucVat.Models.NguoiDungViewModel)Session["NguoiDung"];
}
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/gif" href="~/Content/images/ico-sieu-thi-giao-duc.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- Bootstrap Core CSS -->
    <link href="~/Areas/Admin/Content/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/Areas/Admin/Content/bootstrap/css/bootstrap-datepicker.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Areas/Admin/Content/css/style.css" rel='stylesheet' type='text/css' />

    <!-- font-awesome icons CSS -->
    <link href="~/Areas/Admin/Content/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons CSS-->
    <!-- side nav css file -->
    <link href='~/Areas/Admin/Content/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />
    <!-- //side nav css file -->
    <!-- js-->
    <script src="~/Areas/Admin/Content/js/jquery-1.11.1.min.js"></script>
    <script src="~/Areas/Admin/Content/js/modernizr.custom.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>


    <!--webfonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!--//webfonts-->
    <!-- //chart -->
    <!-- Metis Menu -->

    <link href="~/Areas/Admin/Content/css/custom.css" rel="stylesheet">
    <link href="~/Areas/Admin/Content/css/common.css" rel="stylesheet" />
    @RenderSection("headerAdmin", required: false)
    <!-- //pie-chart --><!-- index page sales reviews visitors pie chart -->
    <!-- requried-jsfiles-for owl -->

    <script>

        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 3,
                lazyLoad: true,
                autoPlay: true,
                pagination: true,
                nav: true,
            });
        });
    </script>
    <!-- //requried-jsfiles-for owl -->


</head>
<body class="cbp-spmenu-push" style="font-family: 'Roboto', sans-serif;">
    <div class="main-content">
        <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <!--left-fixed -navigation-->
            <aside class="sidebar-left">
                <nav class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand" href="/Admin/Home/index"><span class="fa fa-area-chart"></span> Admin<span class="dashboard_text">Quản lí thực vật</span></a></h1>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="sidebar-menu">
                            <li class="header">Các hạng mục</li>
                            <li class="treeview">
                                <a href="/Admin/dashboard/index">
                                    <i class="fa fa-dashboard"></i> <span>Trang chủ</span>
                                </a>
                            </li>

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-tree" aria-hidden="true"></i>
                                    <span>Quản lí thực vật</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li onclick="window.location.href='@Url.Action("Index","Bo")'">
                                        <a href="@Url.Action("Index","Bo")">
                                            <i class="fa fa-angle-right">
                                            </i>Các bộ
                                        </a>
                                    </li>
                                    <li onclick="window.location.href='@Url.Action("Index","Ho")'">
                                        <a href="@Url.Action("Index","Ho")">
                                            <i class="fa fa-angle-right">
                                            </i>Các họ
                                        </a>
                                    </li>
                                    <li onclick="window.location.href='@Url.Action("Index","ThucVat")'">
                                        <a href="@Url.Action("Index","ThucVat")">
                                            <i class="fa fa-angle-right">
                                            </i>Thực vật
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            @*<li class="treeview" onclick="window.location.href='@Url.Action("Index","ThucVat")'">
                                    <a href="@Url.Action("Index","ThucVat")">
                                        <i class="fa fa-tree" aria-hidden="true"></i><span>Quản lí thực vật</span>
                                    </a>

                                </li>*@
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <span>Bảng xếp hạng</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li onclick="window.location.href='@Url.Action("CacPhuongPhap","BangXepHang",new { item=1})'"><a href="@Url.Action("CacPhuongPhap","BangXepHang",new {item=1 })"><i class="fa fa-angle-right"></i> Phương pháp thứ hạng</a></li>
                                    <li onclick="window.location.href='@Url.Action("CacPhuongPhap","BangXepHang",new { item=2})'"><a href="@Url.Action("CacPhuongPhap","BangXepHang",new {item=2 })"><i class="fa fa-angle-right"></i> Phương pháp canh tác</a></li>
                                    <li onclick="window.location.href='@Url.Action("CacPhuongPhap","BangXepHang",new { item=3})'"><a href="@Url.Action("CacPhuongPhap","BangXepHang",new {item=3 })"><i class="fa fa-angle-right"></i> Phương pháp canh tác cải tiến</a></li>
                                    <li onclick="window.location.href='@Url.Action("TongHop","BangXepHang")'"><a href="@Url.Action("TongHop","BangXepHang")"><i class="fa fa-angle-right"></i> Tổng hợp</a></li>

                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="/Admin/New/index">
                                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                    <span>Quản lí tin tức</span>
                                </a>
                            </li>
                            @if (account.LaQuanTriVienCapCao == true)
                            {
                                <li class="treeview" onclick="window.location.href='@Url.Action("Index","NguoiDung")'">
                                    <a href="@Url.Action("Index","NguoiDung")">
                                        <i class="fa fa-user" aria-hidden="true"></i><span>Quản lí Người dùng</span>
                                    </a>

                                </li>
                            }

                            @*<li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-envelope"></i> <span>Mailbox </span>
                                        <i class="fa fa-angle-left pull-right"></i><small class="label pull-right label-info1">08</small><span class="label label-primary1 pull-right">02</span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="inbox.html"><i class="fa fa-angle-right"></i> Mail Inbox </a></li>
                                        <li><a href="compose.html"><i class="fa fa-angle-right"></i> Compose Mail </a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-folder"></i> <span>Examples</span>
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="login.html"><i class="fa fa-angle-right"></i> Login</a></li>
                                        <li><a href="signup.html"><i class="fa fa-angle-right"></i> Register</a></li>
                                        <li><a href="404.html"><i class="fa fa-angle-right"></i> 404 Error</a></li>
                                        <li><a href="500.html"><i class="fa fa-angle-right"></i> 500 Error</a></li>
                                        <li><a href="blank-page.html"><i class="fa fa-angle-right"></i> Blank Page</a></li>
                                    </ul>
                                </li>
                                <li class="treeview" id="loadpage">
                                    <a href="#">
                                        <i class="fa fa-folder"></i> <span>Trang</span>
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("Index","Page")"><i class="fa fa-angle-right"></i>Trang Chủ</a></li>
                                        <li><a href="signup.html"><i class="fa fa-angle-right"></i> Register</a></li>
                                        <li><a href="404.html"><i class="fa fa-angle-right"></i> 404 Error</a></li>
                                        <li><a href="500.html"><i class="fa fa-angle-right"></i> 500 Error</a></li>
                                        <li><a href="blank-page.html"><i class="fa fa-angle-right"></i> Blank Page</a></li>
                                    </ul>
                                </li>*@
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </aside>
        </div>
        <!--left-fixed -navigation-->
        <!-- header-starts -->
        <div class="sticky-header header-section ">
            <div class="header-left">
                <!--toggle button start-->
                <button id="showLeftPush"><i class="fa fa-bars"></i></button>
                <div class="clearfix"> </div>
            </div>
            <div class="header-right">


                <!--search-box-->
                @*@<div class="search-box">
                        <form class="input">
                            <input class="sb-search-input input__field--madoka" placeholder="Search..." type="search" id="input-31" />
                            <label class="input__label" for="input-31">
                                <svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                                    <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                                </svg>
                            </label>
                        </form>
                    </div>*@
                <!--//end-search-box-->

                <div class="profile_details">
                    <ul>
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <div class="profile_img">
                                    <span class="prfil-img"><img src="@account.DuongDanHInhAnh" width="40" height="40" alt=""> </span>
                                    <div class="user-name">
                                        <p>@account.Email</p>
                                        @if (account.LaQuanTriVienCapCao == true)
                                        {
                                            <span>Quản trị viên cấp cao</span>
                                        }
                                        else
                                        {
                                            <span>Quản trị viên</span>
                                        }

                                    </div>
                                    <i class="fa fa-angle-down lnr"></i>
                                    <i class="fa fa-angle-up lnr"></i>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                            <ul class="dropdown-menu drp-mnu">
                                @*<li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>
                                    <li> <a href="#"><i class="fa fa-user"></i> My Account</a> </li>
                                    <li> <a href="#"><i class="fa fa-suitcase"></i> Profile</a> </li>*@
                                <li> <a href="@Url.Action("Logout","Login")"><i class="fa fa-sign-out"></i> Đăng Xuất</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- //header-ends -->
        <!-- main content start-->
        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!--footer-->
        <div class="footer">
            <p>2018 	Quản lí thực vật hỗ trợ phòng cháy rừng<a href="https://huongvietgroup.com/" target="_blank"></a></p>
        </div>
        <!--//footer-->
    </div>
    <!-- Modal for noti -->
    <div class="modal fade" id="alertModalMini">
        <div class="modal-dialog">
            <div class="modal-content">
                <button class="btn-close" data-dismiss="modal">×</button>
                <div class="modal-body text-center"></div>
            </div>
        </div>
    </div>


    <div class="loading-screen" id="loadingScreen">
        <div class="spinner circles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- new added graphs chart js-->

    <script src="~/Areas/Admin/Content/js/Chart.bundle.js"></script>
    <script src="~/Areas/Admin/Content/js/utils.js"></script>

    <script src='~/Areas/Admin/Content/js/SidebarNav.min.js' type='text/javascript'></script>
    <script>
        $('.sidebar-menu').SidebarNav()
    </script>

    <!-- new added graphs chart js-->
    <!-- Classie --><!-- for toggle left push menu script -->
    <script src="~/Areas/Admin/Content/js/classie.js"></script>
    <script>
        var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;

        showLeftPush.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toright');
            classie.toggle(menuLeft, 'cbp-spmenu-open');
            disableOther('showLeftPush');
        };
        function disableOther(button) {
            if (button !== 'showLeftPush') {
                classie.toggle(showLeftPush, 'disabled');
            }
        }
    </script>
    <!--//scrolling js-->
    <!-- side nav js -->
    <script src='~/Areas/Admin/Content/js/SidebarNav.min.js' type='text/javascript'></script>
    @*<script>
            $('.sidebar-menu').SidebarNav()
        </script>*@
    <!-- //side nav js -->
    <!-- for index page weekly sales java script -->
    <!-- //for index page weekly sales java script -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Areas/Admin/Content/js/bootstrap.js"></script>
    <!-- //Bootstrap Core JavaScript -->
    <script src="~/Areas/Admin/Content/js/metisMenu.min.js"></script>
    <script src="~/Areas/Admin/Content/js/custom.js"></script>
    <link href="~/Areas/Admin/Content/css/owl.carousel.css" rel="stylesheet">
    <script src="~/Areas/Admin/Content/js/owl.carousel.js"></script>
    <script src="~/Areas/Admin/Content/js/LoadPageJs.js"></script>
    <script src="~/Areas/Admin/Content/bootstrap/js/bootstrap-datepicker.js"></script>
    @RenderSection("scripts", false)
</body>
</html>