

@model PagedList.IPagedList<QuanLiThucVat.Models.HoViewModel>
@using PagedList.Mvc;

@{
    var i = (Model.PageNumber - 1) * 10;
    var keyword = ViewBag.keyword;
}
<div class="tables">
    <div class="bs-example widget-shadow" data-example-id="contextual-table">
        <table class="table" id="tabletest">
            <thead>
                <tr>
                    <th class="col-md-2">STT</th>
                    <th class="col-md-3">Tên Họ</th>
                    <th class="col-md-3">Thuộc Bộ</th>
                    <th class="col-md-3">Chức năng </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                <tr id="@item.ID">
                    <th scope="row">@(++i)</th>
                    <td name="TenBo">@item.TenHo</td>
                    <td name="TenLop" value="@item.IDBo">@item.TenBo</td>
                    <td>
                        <a id="btn-edit" data-toggle="modal" data-target="#myModal-edit" title="Sửa">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>

                        <a id="btn-delete" data-toggle="modal" data-target="#myModal-delete" title="Xóa">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@Html.PagedListPager(Model, page => Url.Action("_PartialHo", "Ho", new { page = page, keyword = keyword }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions()
        {
            UlElementClasses = new string[] { "pagination pagination-lg" },

            LiElementClasses = new string[] { "noselect" },
            MaximumPageNumbersToDisplay = 5,
            LinkToNextPageFormat = "›",
            LinkToFirstPageFormat = "«",
            LinkToLastPageFormat = "»",
            LinkToPreviousPageFormat = "‹",
            DisplayEllipsesWhenNotShowingAllPageNumbers = false
        },
            new AjaxOptions() { UpdateTargetId = "PhanTrang" }))





